

body {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    background-color: #21252d;
    margin: 0 30%;
}

h1 {
    font-family: 'Passion One', cursive;
    color: #fff;
    text-align: center;
    font-size: 3em;
    line-height: 2em;
}