
header{
    height: 70px;
    width: 100vw;
}
nav {
    position: fixed;
    background-color: rgba(10,10,10, 0.95);
    width: 100vw;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #111111;
    background-color: #21252d;
    margin: 70px 0 30%;
}
main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}



h1 {
    font-family: 'Passion One', cursive;
    color: #fffafa;
    text-align: left;
    font-size: 3em;
    line-height: 2em;
    margin-left: 2%;
}
a{
    color: #21252d;
    text-decoration: none;
}
a:hover {
    color: #21252d;
    font-size: 1.2em;
    transition: 0.2s;
    text-decoration: none;
}

